form {
    border: 1px solid #f1f1f1;
    width:25%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #43569B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}

span {
    float: right;
    padding-top: 16px;
}

p, h1, h2 {
    font-family: sans-serif;
}



/*NAV*/
/*hiding the janky react nav being rendered outside of a router context as a temporary solution */
nav {
    display: none;
}

#app-wrapper div div nav {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #43569B;

}

 nav > div {
    float: left;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}

nav a:hover {
    background-color: #626F9B;
}
